<table>
  <tbody>
  <% @uploads.each do |upload| %>
    <tr>
      <td>
        <%= upload.image_file_name %><br/>
      </td>
      <td>
          <% val = ""
          if !@idGallery.nil?
            val = upload.order.to_s
          end
          %>
          <%= text_field_tag "order[#{upload.id}]", val, class: "" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
