<table>
  <tbody>
  <h4>Order</h4>
  <% @uploads.each do |upload| %>
    <tr>
      <td>
        <%= upload.image_file_name %><br/>
      </td>
      <td>
        <%= text_field_tag "order[#{upload.id}]", "1", class: "" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
