<table>
  <tbody>
  <% @uploads.each do |upload| %>
  <%
    val = ""
    if @idGallery != nil
      if upload.order != nil
        val = upload.order.to_s
      end
    end
  %>
    <tr>
      <td>
        <%= upload.image_file_name %><br/>
      </td>
      <td>
          <%= text_field_tag "gallery[order][#{upload.id}][order]", val, class: "" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
