<div id="carroussel">
  <div id="slide1">
    <div class="visuel">
      <img src="../images/1.jpg" />
    </div>
    <div class="title">
      Image 1
    </div>
  </div>
  <div id="slide2">
    <div class="visuel">
      <img src="../images/2.jpg" />
    </div>
    <div class="title">
      Image 2
    </div>
  </div>

  <div id="slide3">
    <div class="visuel">
      <img src="../images/3.jpg" />
    </div>
    <div class="title">
      Image 3
    </div>
  </div>
<!--
  <div class="navigation">
    <span>1</span>
    <span>2</span>
    <span>3</span>
  </div>
-->
</div>
