<div id="carrousel">
  <div id="slide1" class="slide">
    <div class="visuel">
      <img src="../images/1.jpg"/>
    </div>
    <div class="title">
      Image 1
    </div>
  </div>
  <div id="slide2" class="slide">
    <div class="visuel">
      <img src="../images/2.jpg"/>
    </div>
    <div class="title">
      Image 2
    </div>
  </div>

  <div id="slide3" class="slide">
    <div class="visuel">
      <img src="../images/3.jpg"/>
    </div>
    <div class="title">
      Image 3
    </div>
  </div>
<!--
  <div class="navigation">
    <span>1</span>
    <span>2</span>
    <span>3</span>
  </div>
-->
</div>

<script type="text/javascript">
  var carrousel = {
    nbSlide: 0,
    nbCurrent: 1,
    elemCurrent: null,
    elem: null,
    timer : null,

    init: function (elem) {
      this.nbSlide = elem.find(".slide").length;

      //Création de la pagination
      elem.append('<div class="navigation"></div>')
      for (var i = 1; i <= this.nbSlide; i++) {
        elem.find(".navigation").append('<span>' + i + '</span>');
      }
      elem.find(".navigation span").click(function(){carrousel.gotoSlide($(this).text()); })
      //Initialisation du carrousel
      this.elem = elem;
      elem.find(".slide").hide();
      elem.find(".slide:first").show();
      this.elemCurrent = elem.find(".slide:first").show();
      this.elem.find(".navigation span:first").addClass("active");

      //Création du timer
      this.timer = window.setInterval("carrousel.next()", 2000)
    },

    gotoSlide : function(num){
      if (num == this.nbCurrent){ return false;}
      this.elemCurrent.fadeOut();
      this.elem.find("#slide"+num).fadeIn();
      this.elem.find(".navigation span").removeClass("active");
      this.elem.find(".navigation span:eq("+(num-1)+")").addClass("active");
      this.nbCurrent = num;
      this.elemCurrent = this.elem.find("#slide"+num);
    },

    next : function(){
      var num = this.nbCurrent+1;
      if (num > this.nbSlide){
        num = 1;
      }
      this.gotoSlide(num);
    },

    prev : function(){
      var num = this.nbCurrent-1;
      if (num < 1){
        num = this.nbSlide;
      }
      this.gotoSlide(num);
    }
  }

  $(function () {
    carrousel.init($("#carrousel"));
  });
</script>
