<!DOCTYPE html>
<html>
  <head>
    <title>Slider</title>
    <%= stylesheet_link_tag "slider/application", media: "all" %>
    <%= javascript_include_tag "slider/application" %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
