<!DOCTYPE html>
<html>
<head>
  <title>Slider</title>
  <%= stylesheet_link_tag    "slider/application", media: "all" %>
  <%= javascript_include_tag "slider/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
