/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dropzone/dropzone
 *= require image-picker
 *= require_self
*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  margin: 0
}

a:link {
  text-decoration: none
}

.out-form-button-carrousels{
  position: relative;
  left: 358px;
}

.out-form-button-galleries{
  position: relative;
  left: 377px;
}

.in-form-button{
  position: relative;
  left: 450px;
}

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 700px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow:  0px 0px 30px rgba(0, 0, 0, 0.44);
}

.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 30px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.button-blue-style-form-8 {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.head {
  top: 0;
  background-color: #363434;
  width: auto;
  height: 80px;
  margin-bottom: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.head nav {
  position: absolute;
  z-index:1;
}

.head ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: arial;
}

.head ul li {
  float: left;
  width: 225px;
  height: 80px;
  background-color: #363434;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  opacity: .7;
}

.head ul li a {
  color: #FCF5F5;
  display: block;
}

.head ul li a:hover{
  background-color: #736E6E;
}
.head ul li ul li {
  display: none;
}

.head ul li:hover ul li {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px
  }
}

#carrouselHor {
  border: solid 5px #e7dbc5;
  width: 722px;
  height: 274px;
  margin: 0 auto;
  position: relative;
}

#carrouselVer {
  border: solid 5px #e7dbc5;
  width: 318px;
  height: 570px;
  margin: 0 auto;
  position: relative;
}

#carrouselHor .slide {
  z-index:-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 712px;
  height: 264px;
}


#carrouselVer .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 308px;
  height: 560px;
}
.img-hor {
  z-index:-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 712px;
  height: 264px;
}
.img-ver {
  z-index:-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 308px;
  height: 560px;
}
.title {
  position: absolute;
  padding-left: 12px;
  width: 100%;
  line-height: 34px;
  height: 34px;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.6;
}

.navigation {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
}
.numSlide {
  z-index:1;
  position: absolute;
  right: 10px;
  top: 10px;
}
.numSlide span {
  color: white;
}

.navigation span {
  cursor: pointer;
  color: transparent;
  height: 10px;
  width: 15px;
  border-radius: 15%;
  margin: 1px 4px;
  background-color: white;
  opacity: 0.9;
  display: inline-block;
  transition: background-color 0.6s;
}

.navigation span:hover, .navigation span.active {
  color: transparent;
  background: black;
  opacity: 0.5;
}

.drop {
  border: 2px dotted;
  padding: 20px;
  height: 100px;
  width: 350px;
  color: #bdc3c7;
  font-size: 200%;
}
