<div class="form-style-8">
  <h2>Galleries List</h2>
  
  <% if @galleries.any? %>
  <ul>
    <% @galleries.each do |gallery| %>
      <li>
        <%= gallery.galleryName %>
        <a href="<%= edit_gallery_path( gallery.id)%>">Edit</a>
        <a href="<%= gallery_path( gallery.id) %>" data-confirm="Do you realy want to delete this gallery ?" data-method="DELETE">Delete</a>
      </li>
  <%end%>
  </ul>
  <% else %>
    <h4>No galleries existing</h4>
    <a class="button-blue-style-form-8 in-form-button" href="<%= new_gallery_path %>">Create Gallery</a>
  <% end %>
</div>
